<div class="album">
    <h2>{{album.title }}</h2>
    <h3>{{user.name }}'s album</h3>
    <div class="controls">
        <button type="prev" name="button" (click)="previousPage()" [hidden]="(currentPage < 2)"><<</button>
        <span>Page {{currentPage}}/{{photoPages.length-1}}</span>
        <button type="prev" name="button" (click)="nextPage()" [hidden]="(currentPage == photoPages.length-1)">>></button>
    </div>
    <div class="photo-holder">
        <div class="photo" *ngFor="let photo of photoPages[currentPage]">
            <img src="{{photo.thumbnailUrl}}" alt="{{photo.title}}">
            <p>{{photo.title}}</p>
        </div>
    </div>
</div>
